body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  border-style: hidden;
  border-top-style: dotted;
  border-width: 10px;
  border-color: #EAF6F6;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 7%;
}

p {
  line-height: 2;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Redressed', cursive;
  color: #66BFBF;
  font-size: 5rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 2.5rem;
  line-height: 2;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  line-height: 2;
}

.pro {
  text-decoration: underline;
}

.programmer {
  font-weight: normal;
  line-height: normal;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px auto;
}

.bottom-container {
  background-color: #66BFBF;
  margin-bottom: 0;
  padding-top: 50px;
}

.footer-link {
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  font-weight: bolder;
  text-decoration: none;
  color: #11999E;
}

.footer-link:hover {
  color: #eaf6f6;
}

.copyright {
  margin-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 0;
  color: #EAF6F6;
  font-size: 0.75rem;
}

.skill-row {
  margin: 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.code {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chillie {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.my-pic {
  width: 15%;
}

.about {
  width: 40%;
  margin: 50px auto;
}

.top-cloud {
  position: absolute;
  right: 50px;
  right: 300px
}

.bottom-cloud {
  position: absolute;
}

.invitation {
  width: 40%;
  margin: 40px auto 60px;
}


.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC48D);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC48D);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC48D);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC48D);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC48D);
  text-decoration: none;
}
